@import url('https://fonts.googleapis.com/css?family=Poppins');
root{
    --base-clr: #11121e;
    --line-clr: #41424a;
    --hover-clr: #222532;
    --text-clr: #e5e6ef;
    --accent-clr: #6564ff;
    --secondary-text-clr: #b1b4c1;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Verdana, Geneva;
    line-height: 1.5rem;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #11121e;
    color: #e5e6ef;

    display: grid;
    grid-template-columns: auto 1fr;
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: #11121e;
    border-right: 1px solid #41424a;

    position: sticky;
    top: 0;
    align-self: start;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
.container {
    border: 1px solid #41424a;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    margin-top: 1em;
}

#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    font-weight: 600;
}
#sidebar ul li.active a, #sidebar ul li.active a svg{
    color: #6564ff;
    fill: #6564ff;
}
#sidebar a, #sidebar button{
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: #e5e6ef;
    display: flex;
    align-items: center;
    gap: 1em;
}
#sidebar svg{
    flex-shrink: 0;
    fill: #e5e6ef
}
#sidebar a span, #sidebar button span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar button:hover {
    background-color: #222532;
}
#sidebar.sub-menu {
    display: grid;
/*    height: 0; */
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    overflow: hidden;
}
#sidebar.sub-menu.show{
  /*  height: 1fr;  */
    grid-template-rows: 1fr;
}
